<h1>
  <span class='accent-secondary drop-shadow'>Brownie Points</span>
</h1>
<p class='center'>
  A game where couples compete for <span class='accent-secondary drop-shadow font-fancy'>Brownie Points</span> by completing <span class='accent-primary drop-shadow font-fancy'>favors</span> for each other!
</p>