<div class='home-wrapper'>

<section>
  <h1>
    <span class='accent-secondary drop-shadow'>Brownie Points</span>
  </h1>
  <p>
    A game where couples compete for <span class='accent-secondary drop-shadow font-fancy'>Brownie Points</span> by completing <span class='accent-primary drop-shadow font-fancy'>Favors</span> for each other!
  </p>
</section>

<section>
  <h2 class='underline'>How It Works</h2>
  <p>
    At the start of each week, each player chooses a <span class='accent-primary drop-shadow font-fancy'>Victory Favor</span> that they will receive if they win.
  </p>
  <p>
    This week, <span class='accent-secondary drop-shadow font-fancy'>Jack</span> and <span class='accent-primary drop-shadow font-fancy'>Jill</span> are playing for these stakes:
  </p>
</section>

</div>

