body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  font-family: var(--font-main);
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--font-h);
}

body h1 {
  font-size: 3rem;
  text-align: center;
}

body h2 {
  font-size: 2.5rem;
  text-align: center;
}

body p {
  font-size: 1.5rem;
}

.screen-wrapper {
  padding: 4rem 0 0 0;
  display: flex;
  flex-direction: column;
}